*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --basic-black: #000000;
  --basic-grey: #32425C;
  --basic-dark-grey: #161D29;
  --dark-grey: #293449;
  --basic-grey-text: #A9A9A9;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-greylight: #C5C5C5;
  --basic-bg: #F1F5F7;
  --basic-dark-bg: #F7F3EC;
  --light-bg: #F2F6F8;
  --dark-bg: #F9F5F0;
  --darkling-bg: #212A3A;
  --basic-border: #EAEAEA;
  --light-border: #E5E5E5;
  --basic-white: #FFFFFF;
  --basic-light: #F3F7F9;
  --special-yellow: #FFC047;;
  --special-yellowlight: #FFD180;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --notification-warning: #FFBF47;
  --notification-error: #BA2732;
  --notification-success: #5FBB2D;
}
/* Global */
body {
  min-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* Header */
.header {
  background-color: var(--light-bg);
  height: 320px;



  margin-bottom: 70px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}
.header a {
  color: var(--basic-white);
}
a.header__user {
  color: var(--basic-black);
}
.header__menu {
  display: flex;
  justify-content: space-between;
  height: 42px;
}
.header__menu,
.header__search {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);


  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
} 
.header__logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 47px;
}
.header__logo:active {
  background-color: var(--notification-error);
}
.header__img {
  margin: 12px 57px 17px 55px ;
}
.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
}
.header__item {
  width: 150px;
  height: 42px;

  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}
.header__item:active {
  background-color: var(--basic-dark-grey);
}
.header__item:last-child {
  background-color: var(--basic-green);
}
.header__item:last-child:hover {
  background-color: var(--notification-success);
}
a.header__orders,
a.header__office {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-grey);
}
a.header__name {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
}
.header__search {
  color: var(--basic-white);
  border: none;
  width: 270px;
  margin-right: auto;
  padding-left: 42px;
  background: url(../img/icon-search.svg) no-repeat;
  background-position: 17px 50%;
  opacity: 0.3;

  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}
.header__search::placeholder {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
.header__search:hover {
  opacity: 1;
}
.header__search:focus {
  background-color: var(--basic-white);
  background-image: url(../img/icon-search-red.svg);
  background-repeat: no-repeat;
  background-position: 17px 50%;
  color: var(--basic-black);
}
.header__marker {
  position: relative;
}
.header__marker::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 0px;
  background: url(../img/icon-bookmark.svg) no-repeat;
  background-position: 0 50%;
  opacity: 0.3;
}
.header__marker:hover::before,
.header__cart:hover::before{
  opacity: 1;
}
.header__cart {
 position: relative;
}
.header__cart::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 4px;
  left: -23px;
  background: url(../img/icon-cart.svg) no-repeat;
  background-position: 0 50%;
  opacity: 0.3;
}
.header__button {
  /* background-color: var(--basic-green); */
  /* padding: 11px 16px 11px 19px ; */
  width: 150px;
}
.header__info {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  margin-bottom: 44px;
  align-items: center;
}
.header__text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  width: 197px;
  height: 71px;
  color: var(--basic-red);
  margin-left: 30px;
}
.header__contacts {
  width: 270px;
  height: 45px;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-grey);
}
.header__number {
  display: block;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color:  var(--basic-red);
  padding: 7px 44px 8px 67px;
  background-color: var(--basic-light);
  border: 3px solid var(--basic-white);
} 
 .header__enter {
  background-color: var(--basic-white);
  width: 121px;
  height: 45px;
  padding: 12px 27px 12px 46px;
  margin-right: -40px;
  margin-bottom: 20px;
}
.header__login {
  width: 150px;
  height: 45px;
  padding: 12px 24px;
  background-color: var(--basic-white);
  margin-bottom: 20px;
} 
.header__user {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}
.header__user:hover {
  color: var(--basic-red);
}
.header__user:active {
  color: var(--basic-greylight)
}
.header__address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-grey);
  text-align: center;
}
.navigation {
  height: 60px;
  background-color: var(--basic-grey);
  box-shadow: inset 0px -5px 0px var(--dark-grey);
}
.navigation__list-items {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation__list-item {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  width: 122px;
  height: 60px;
}
.navigation__list-item:hover {
  background: var(--dark-grey);
  box-shadow: inset 0px -5px 0px var(--dark-grey);
}
.navigation__list-item:active {
  background: var(--basic-dark-grey);
  box-shadow: inset 0px -5px 0px var(--dark-grey);
  opacity: 0.5;
}
.navigation__link {
  display: block;
}
.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.info__box {
  width: 300px;
  height: 123px;
}
.info__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.info__btn {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.info__inner {
  width: 135px;
  height: 38px;
  background-color: var(--basic-white);
  opacity: 0.3;
}
.slider {
  grid-column: 1/3;
  grid-row: 2/3;
}
.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider__item img { 
  width: 620px;
  height: 266px;
}
.materials {
 background-color: var( --notification-warning);
 background-image: url(../img/icon-1.svg);
 background-repeat: no-repeat;
 background-position: center right;
}
.tools {
  background-color: var(--special-blue);
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center right;
}
.equipment {
  background-color: var(--special-lilac);
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center right;
}
.discounts {
  background-color: var(--special-greenlight);
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: center right;
}
.delivery {
  background-color: var(--special-yellow);
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: center right;
  grid-area: ;
}
.manufactures__inner,
.popular__inner {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-bg);
  height: 89px;
  align-items: center;
  margin-bottom: 20px;
}
.manufactures__link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  width: 192px;
  height: 38px;
  padding: 11px 38px 9px 39px;
  margin-right: 19px;
  margin-bottom: 26px;
}
.manufactures__link,
.popular__btn {
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}
.manufactures__heading,
.popular__heading {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey);
  margin-left: 28px;
}
.popular__list-items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
  list-style: none;
}
.popular__img {
  display: block;
  margin: 0 auto;
}
.popular__list-item {
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.popular__paragraph {
  margin: 0;
}
.popular_text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
  margin: 0;
}
.popular__discount {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey-text);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  margin: 0;
}
.popular__price {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-image: url(../img/red-button.svg);
}
.manufactures__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} 
.manufactures__item {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}
.manufactures__item:hover {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-border);
}
.manufactures__item:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.advantages__inner {
  display: flex;
}
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 240px;
  height: 279px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 80px;
}
.advantages__btn {
  width: 240px;
  height: 61px;
  border: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background: var(--basic-grey);
  box-shadow: 0px 1px 0px var(--dark-grey), inset 0px 1px 0px var(--dark-grey);
}
.advantages__btn:hover {
  background: var(--dark-grey);
  box-shadow: 0px 1px 0px var(--dark-grey), inset 0px 1px 0px var(--dark-grey);
}
.advantages__btn:active,
.advantages__btn--current {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
}
.advantages__heading {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 25px;
}
.advantages__text {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
.desc__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.add__heading,
.desc__heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 24px;
}
.desc__text,
.add__text {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
.desc__text {
  width: 478px;
}
.add__text {
  width: 180px;
  height: 49px;
}
.desc__items {
  margin: 0;
}
.desc__item {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}
.desc__item:last-child {
  margin-bottom: 20px;
}
.desc__link {
  display: block;
  background: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  height: 38px;
  padding: 11px 40px 9px 40px;
  color: var(--basic-white);
  text-transform: uppercase;
}
.add__link {
  display: block;
  background: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  width: 300px;
  height: 38px;
  padding: 11px 61px 9px 62px;
  color: var(--basic-white);
  text-transform: uppercase;
}
.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light);
}
.footer__items,
.footer__items1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer__item-link,
.footer__item-link1 {
  font-size: 18px;
  line-height: 24px;
}
.footer__item-link:hover,
.footer__item-link1:hover {
  text-decoration: underline;
}
.footer__item-link:active,
.footer__item-link1:active {
  opacity: 0.5;
}
.footer__item-link {
  color: var(--basic-bg);
}

.footer__item-link1 {
  color: var(--special-yellowlight);
}
.footer__logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 47px;
}
.footer__img {
  width: 108px;
  height: 18px;
  margin: 12px 57px 17px 55px;
}
.footer__box1 {
  display: flex;
  justify-content: space-between;
  height: 107px;
  align-items: center;
}
.socials__items {
  display: flex;
  justify-content: space-between;
}
.socials__item {
  list-style: none;
  width: 44px;
  height: 44px;
  background-color: var(--darkling-bg);
  border-radius: 50%;
}
.socials__item:hover,
.socials__item:active {
  background-color: var(--basic-red);
}
.footer__copyright,
.feedback,
.feedback__link,
.developers {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.feedback__link {
  color: var(--special-yellowlight);
}
.feedback__link:hover {
  text-decoration: underline;
}
.feedback__link:active {
  color: var(--basic-red)
}
.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; 
}
/* Catalog */
.header__name:hover {

}
.header__name:active {
  color: var(--basic-greylight);
}
.header__orders:hover,
.header__office:hover {
  color: var(--basic-red);
}
.header__orders:active,
.header__office:active {
  color: var(--basic-greylight);
}
.crumbs__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 465px;
  height: 18px;
  position: relative;
}
.crumbs__item::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  top: 3px;
}
.crumbs__item:last-child::after {
  content: none;
}
.crumbs__link,
.pagination__link,
.pagination__item--current {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.tool {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
  background-color:var(--light-bg);
}
.sorting {
  display: flex;
  justify-content: space-between;
}
.sorting__heading {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-dark-bg);
}
.sorting__inner {
  display: flex;
  background-color: var(--basic-dark-bg);
  align-items: center;
}
.sorting__btn,
.filter__btn {
  font-family: 'PT Sans' , sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: none;
  text-transform: uppercase;
}
.sorting__btn {
  opacity: 0.3;
  border-bottom: dotted;
  text-decoration-color: var(--basic-red);
}
.sorting__btn:hover {
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}
.sorting__btn:active,
.sorting__btn--current {
  color: var(--basic-red);
  border: none;
  opacity: 1;
}
.sorting__btn-up {
  border: none;
  background-color: var(--basic-dark-bg);
}
.sorting__btn-down {
  border: none;
  background-color: var(--basic-dark-bg);
}
.sorting__img1 {
  transform: rotate(180deg);
}
.sorting__img1 svg:hover {
  fill: var(--basic-red);
}
.filter__btn {
  background-color: var(--basic-white);
  border: 1px solid var(--light-border);
}
.sorting__list-items,
.pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.filter__heading {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.filter__list-style {
  list-style: none;
}
fieldset {
  border: none;
}
.filter__label {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.inner {
  display: flex;
}
.products {
  max-width: 700px;
}
.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__item {
  list-style: none;
  width: 220px;
  height: 318px;
}
.products__link {
  color:  var(--basic-black);
}
.products__text {
  margin-top: 22px;
}
.products__heading {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}
.products__discount {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-grey-text);
  text-align: center;
  margin-bottom: 13px;
}
.products__btn {
  display: block;
  width: 141px;
  margin: 0 auto;
}
.products__price {
   margin-bottom: 21px; 
   font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  font-family: "PT Sans", sans-serif;
  border: none;
  background-color: var(--basic-red);;
  height: 38px;
  text-align: center;
} 
.pagination__item {
  width: 38px;
  height: 38px;
  background-color: var(--basic-white);
  border: 1px solid var(--light-border);
  border-radius: 2px;
  text-align: center;
  padding-top: 5px;
}
.pagination__item:last-child {
  width: 140px;
}
.pagination__item:hover {
  border-color: var(--basic-greylight);
}
.pagination__item:active {
  border-color: var(--basic-red);
}
.pagination__item--current {
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding-top: 9px;
}
.about {
  background-color: var(--basic-bg);
  height: 261px;
}
.about__heading {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.about__text {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
/* Сетка */
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.header__wrapper {
  width: 100%;
  background-color: var(--dark-grey);
  background-size: 100%;
  margin-bottom: 60px;

  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}
.header__info-wrap {
  width: 100%;
  background-size: 100%;
  margin-bottom: 60px;
}
.advantages__wrap {
  width: 100%;
  background-color: var(--basic-bg);
  margin-bottom: 60px;
}
.desc__inner {
  margin-bottom: 160px;
}
.footer__wrap {
  width: 100%;
  background-color: var(--basic-grey);
}
.footer__wrapper {
  width: 100%;
  background-color: var(--dark-grey);
}
.about-wrap {
  width: 100%;
}
.header__menu,
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}